body{
    margin: 0px;
    padding: 0px;
    background-image: url('athlete.jpg');
    color: white;
}

/*header*/

.left{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    padding-left: 1rem;
}
.left img{
    width: 70px;
    padding-left: 1rem;
    filter: invert(100%);
}
.left .title{
    font-weight: 700;
    font-size: 20px;
    padding-top: 0.5rem;
}
.mid{
    display: block;
    width: 45%;
    margin: 10px auto;
}
.right{
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 50px;
}

.navbar{
    display: inline-block;
    padding-left: 8rem;
}
.navbar li{
    display: inline;
    padding-right: 2rem;
    font-size: 25px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    text-decoration: underline;
    color:blanchedalmond;
}
.navbar .active{
    font-weight: 700;
    color: blanchedalmond;
}
.btn{
    color:black;
    background-color:blanchedalmond;
    border-radius: 0.5rem;
    font-weight: bolder;
    cursor: pointer;
}

/* container*/

.container{
    border: 3px solid blanchedalmond;
    width: 37%;
    margin-top: 70px;
    margin-left: 40px;
    padding: 0rem 2rem 3rem 2rem;
    border-radius: 1rem;
    text-align: center;
}
.container .form-title{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.form-group{
    padding-bottom: 1rem;
}
.form-group input{
    text-align: center;
    display: block;
    font-size: 16px;
    width: 80%;
    padding-top:1rem;
    padding-bottom: 1rem;
    margin: auto;
    border: 2px solid black;
    border-radius: 8px;
}
#submit{
    margin-left: 5px;
    font-size: large;
}

.tips{
    position: absolute;
    top: 246px;
    right: 92px;
    border: 2px solid blanchedalmond;
    padding: 2rem 2rem 7rem 2rem;
    background-color: rgb(218, 211, 211);
    color: black;
    font-size: 18px;
}
.tips-title{
    text-align: center;
}
.tips li{
    padding-bottom: 1rem;
}
